{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@styled": "./components/styled",
          "@components": "./components",
          "@images":"./public/images",
          "@useScroll":"./utils/useScroll"
        }
      }
    ]
  ]
}
